Node Red Code.txt
[
    {
        "id": "5ef4fc2b9b524e5b",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "5ef4fc2b9b524e5b",
        "name": "",
        "topic": "esp32v1/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "5ef4fc2b9b524e5b",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "b519e8150f5d0cd0",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "36f40d2ae775854a",
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "36f40d2ae775854a",
        "type": "ui_text",
        "z": "5ef4fc2b9b524e5b",
        "group": "b519e8150f5d0cd0",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "c189dea39d97e9b7",
        "type": "ui_slider",
        "z": "5ef4fc2b9b524e5b",
        "name": "",
        "label": "left motor",
        "too